ENV=development

APP_NAME=pgsql-BE
APP_VERSION=v0.0.1

SERVER_PORT=3001


PG_DATABASE=rental
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASS=090909
DB_TIMEZONE=utc

JWT_SECRET=s3cretbsp123!!
JWT_EXPIRED=12h


ROOT_FOLDER=./public